p {
    font-family: Lato;
  }
  
  h1 {
   
    transition: color .2s;
  
  }
  h1 :leave {
    transition: display 4s;
  }

  .align-center{
    margin-left: 47%;
    margin-top: 1%;
    margin-bottom: 1%;
  }